<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
	    <add key="dirLog" value="C:\itrres\" />
    </appSettings>
    <connectionStrings>
        <!--<add name="dbconnection" connectionString="Data Source=192.168.174.83; initial catalog=GoAML;persist security info=True;user id=sa;password=BNI46sql;MultipleActiveResultSets=True;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>-->
		<add name="dbconnection" connectionString="Data Source=ADVERS-65804-1; Initial Catalog=converter; User Id=sa;password=s3cur3;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>
	    <!--<add name="dbconnection" connectionString="Data Source=192.168.243.54;Initial Catalog=converter; User Id=sa;password=BNI46sql;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
</configuration>
