<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
	    <add key="dirLog" value="C:\itrres\" />
		
		<add key="dirConverterServiceSrcFile" value="D:\Job\iConverterCekSelisih\InsertExcel\src\" />
		<add key="dirConverterServiceDestFile" value="D:\Job\iConverterCekSelisih\InsertExcel\done\" />
		<add key="dirSplitSource" value="D:\Job\iConverterCekSelisih\SplitCSV\src\" />
		<add key="dirSplitDest" value="D:\Job\iConverterCekSelisih\SplitCSV\result\" />
		<add key="dirSplitDone" value="D:\Job\iConverterCekSelisih\SplitCSV\done\" />

		<!--<add key="dirConverterServiceSrcFile" value="C:\Users\User\WORK\successfile\insert\src\" />
		<add key="dirConverterServiceDestFile" value="C:\Users\User\WORK\successfile\insert\done\" />
		<add key="dirSplitSource" value="C:\Users\User\WORK\successfile\split\src\" />
		<add key="dirSplitDest" value="C:\Users\User\WORK\successfile\split\result\" />
		<add key="dirSplitDone" value="C:\Users\User\WORK\successfile\split\done\" />-->
		
		<add key="splitSize" value="100000" />
    </appSettings>
    <connectionStrings>
        <!--<add name="dbconnection" connectionString="Data Source=192.168.174.83; initial catalog=GoAML;persist security info=True;user id=sa;password=BNI46sql;MultipleActiveResultSets=True;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="dbconnection" connectionString="Data Source=ADVERS-65804-1; Initial Catalog=converter; User Id=sa;password=s3cur3;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>-->
	    <add name="dbconnection" connectionString="Data Source=192.168.243.54;Initial Catalog=RnD; User Id=sa;password=BNI46sql;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
